.form1{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.form{
    height: 70%;
    display: flex;
    justify-items: space-between;

}

.info{
    width: 30%;
    margin: 0 auto;
}
h1{
    margin-left: 2em;
}
hr{
    width: 70%;
    margin: 0 auto;
}