<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Great Number Game</title>
</head>
<body>
    <h1 class="text-center">Welcome to the Great Number Game!</h1>
    <h3 class="text-center">I am thinking of a number between 1 and 100</h3>
    <h3 class="text-center">Take a guess!</h3>
    {%if count < 5 %}
        <div>
            {% if guessNum == 0 %}
                <p></p>
            {% elif num  > guessNum %}
                <p class="red">Too Low!</p>
            {% elif num < guessNum %}
                <p class="red">Too High!</p>      
            {% endif %}
        </div>

        {% if num  == guessNum%} 
            <form action="/reset" method="post">
                <p class="green">{{ num }} was the Number!
                    <input type="submit" value="Play again" class="bttn"> 
                </p>
                <p class="text-center">Guess after {{ count }} attempt(s)</p>
            </form>
        {% else %}
            <form action='/guess' method='post' >
                <p class="text-center"><input type="text" name="answer"></p>
                    <p class="text-center"><input type="submit" value="submit" class="bttn"></p>
            </form>
        {% endif %} 
    {% elif count == 5 %}
        <form action="/reset" method="post">
            <p class="text-center">you loose try again</p>
            <p class="text-center"><input type="submit" value="Try again" class="bttn"></p>   
        </form> 
    {% endif %}
    
            
</body> 
</html>

