.container{
    width:30%;
    border: 1px solid black;
    padding: 40px;
}

input[type="text"]{
    border: 1px solid black;
    border-radius: 0%;
}
.btn1{
    box-shadow: 3px 3px  black;
    border-radius: 0%;
    cursor: pointer;
    margin-top: 4px;
}

.show{
    width: 70%;
    display: flex;
    justify-content: space-between;
}