h1{
    text-align: center;
}
table, td, th{
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
th, td {
    text-align: left;
    padding: 8px;
}
th{
    background-color:silver;
    padding: 4px;
}
tr:nth-child(even){background-color: #f2f2f2}

hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    width: 50%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.bttn{
    height: 30px;
    width: 60px;
    box-shadow: 3px 3px  black;
    background-color: rgb(116, 173, 230);
    border-radius: 0;
    border: 2px solid rgb(15, 15, 15);
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
}