
.container{
    width:30%;
    box-sizing: border-box;
    border: 3px solid green;
    padding: 2em;
    margin: 0 auto;
}


input[type="text"]{
    border: 2px solid green;
    margin-left: 5em;
    width: 12em;
}
#location{
    border: 2px solid green;
    margin-left: 3.5em;
    width: 12.5em;
}
#fav_language{
    border: 2px solid green;
    margin-left: 1.5em;
    width: 12.5em;

}
.btn1{
    box-shadow: 3px 3px  black;
    background-color: green;
    color: bisque;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 2.5em;
    float: right;
}
.textarea{
    border: 2px solid green;
}

.show{
    width: 70%;
    display: flex;
    justify-content: space-between;
}