.loginreg{
    padding:20px;
    width:80%;
    display:flex;
    justify-content: space-evenly;
}
table{
    border-spacing: 25px 25px;
}
td{
    text-align:left;
   
}

.errors{
    margin:0px auto;
    width:600px;
    color:red;
    text-align:left;
}
.right{
    text-align:right;
}
h2{
    color: blue;
    margin-left: 1em;
}
.btn{
    height: 2em;
    width: 5em;
    cursor: pointer;
    box-shadow: 3px 3px  black;
    background-color: blue;
    color: aliceblue;
    margin-top: 1em;
}
/* books page style */
.top{
    display: flex;
    justify-content: space-between;
}

/* book_details page style */
.details{
    padding: 1em;
    width:50%;
    display: flex;
    justify-content: space-between;
}
textarea{
    vertical-align: top;
}
.btn1{
    height: 2em;
    width: 5em;
    cursor: pointer;
    box-shadow: 3px 3px  black;
    background-color: blue;
    color: aliceblue;
    margin-top: 1em;
    margin-left: 6.5em;
   
}
.btn2{
    height: 2em;
    width: 5em;
    cursor: pointer;
    box-shadow: 3px 3px  black;
    background-color: red;
    color: aliceblue;
    margin-top: 1em;
    margin-left: 2em;
   
}

